# # Ignore everything
# *

# # Don't ignore directories, so we can recurse into them
# !*/

# Don't ignore .gitignore
!.gitignore
!.ipynb
!.py

# # Now exclude our type
.ipynb_checkpoints
# .tmp
# .pdf
# .pyc
# .deps
__pycache__
.DS_Store

/samples/AIR/*.txt	
/samples/AIR_agg_weight/*.txt	
/samples/BR/*.txt		
/samples/ES/*.txt		
/samples/UK/*.txt
/samples/AIR_agg/*.txt		
/samples/AIR_weight/*.txt	
/samples/BR_weight/*.txt	
/samples/ES_weight/*.txt	
/samples/UK_weight/*.txt
/spatial_model/*.txt
/figures/raw_figures/anomalous_nodes.pdf
/figures/raw_figures/bvsk_ubcm.pdf
/figures/raw_figures/bvsk_uecm.pdf
/figures/raw_figures/bvss_uecm.pdf
/figures/raw_figures/degree_ubcm.pdf
/figures/raw_figures/degree_uecm.pdf
/figures/raw_figures/individual_cities_ubcm.pdf
/figures/raw_figures/individual_cities_uecm.pdf
/figures/raw_figures/map_air.png
/figures/raw_figures/map_br.png
/figures/raw_figures/map_spain.png
/figures/raw_figures/map_uk.png
/figures/raw_figures/strength_uecm.pdf
/results/kbs/AIR_Weight_b.csv
/results/kbs/AIR_Weight_k.csv
/results/kbs/AIR_Weight_s.csv
/results/kbs/AIR_b.csv
/results/kbs/AIR_k.csv
/results/kbs/AIR_s.csv
/results/kbs/BR_Weight_b.csv
/results/kbs/BR_Weight_k.csv
/results/kbs/BR_Weight_s.csv
/results/kbs/BR_b.csv
/results/kbs/BR_k.csv
/results/kbs/BR_s.csv
/results/kbs/ES_Weight_b.csv
/results/kbs/ES_Weight_k.csv
/results/kbs/ES_Weight_s.csv
/results/kbs/ES_b.csv
/results/kbs/ES_k.csv
/results/kbs/ES_s.csv
/results/kbs/UK_b.csv
/results/kbs/UK_k.csv
/results/kbs/UK_s.csv
/results/kbs/UK_weight_b.csv
/results/kbs/UK_weight_k.csv
/results/kbs/UK_weight_s.csv
/samples/AIR/
/samples/AIR_agg/
/samples/AIR_agg_weight/
/samples/AIR_weight/
/samples/BR/
/samples/BR_weight/
/samples/ES/
/samples/ES_weight/
/spatial_model/UBCM/
/spatial_model/UECM/